*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
body{
    width: 100%;
    height: 100%;
    background: #fff;
}
nav{
    display:flex;
    justify-content: flex-end;
}
a{
    color:#3c4043;
    text-decoration:none;
    font-size: 14px;
}
.navbar{
    margin-right: 23px;
    margin-top: 4px;
}
.google{
    height: 750px;
    text-align: center;
}
.menuInf{
    padding-top: 8px;
}
.menuIzq{
    float: left;
    margin-left: 15px;
}
.menuDer{
    float: right;
    margin-right: 18px;
}
.HPVvwb{
    width: 23px;
    height: 24px;
    cursor: pointer;
    transform: translate(0px,3px);
}
.buscadorGoolge{
    border: solid 1px #e2e2e2;
    border-radius: 40px;
    width: 580px;
    height: 45px;
}
.buscadorGoolge:hover{
    -webkit-box-shadow: 1px 2px 8px 0.1px rgba(154,160,166,0.5);
    -moz-box-shadow: 1px 2px 8px 0.1px rgba(154,160,166,0.5);
    box-shadow: 1px 2px 8px 0.1px rgba(154,160,166,0.5);
    border-top-color: #ececec;

}

.buscador{
    display: flex;
    justify-content: center;
    margin-top: 21px;
}
.google img{
    margin-top: 156px;
    cursor: pointer;
}
.buscadorGoolge input{
    border: none;
    outline: none;
    width:480px;
    padding-top: 16px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 16px;
}
footer a:hover{
    text-decoration: underline;
}
.idioma a{
    color:#1a0dab;
    font-size: 13px;
    margin: 3px;
}
.idioma a:hover{
    text-decoration: underline;
}
.opciones{
    margin-top: 38px;
}
.opciones a{
    padding: 10px;
    border: solid 0.5px;
    border-color: #fff;
    border-radius: 5px;
    
}
.opciones a:hover{
    border: solid 0.5px;
    border-color: #dbdbdb;
    -webkit-box-shadow: 1px 2px 8px 0.05px rgba(154,160,166,0.3);
    -moz-box-shadow: 1px 2px 8px 0.05px rgba(154,160,166,0.3);
    box-shadow: 1px 2px 8px 0.05px rgba(154,160,166,0.3);
    border-top-color: #ececec;

}
.ader{
    margin-right: 25px;
}
.idioma{
    margin-top: 37px;
}
.idioma span{
    font-size: 13px;
}

.navbar a img{
    border-radius: 30px;
    transform: translate(0px,11px);
}
.navbar a{
    margin: 6.5px;
    font-size: 13px !important;
    
}
.navbar .menu:hover{
    margin: 6.5px;
    text-decoration: underline;
}
.navbar a svg{
    color: #858585;
    transform: translate(0px,5px);
}
.navbar a svg:hover{
    color: #000;
    transform: translate(0px,5px);
}
.pais{
    border: solid 1px #e2e2e2;
    padding-top: 12px;
    padding-bottom: 12px;
}
.menuIzq a, .menuDer a{
    margin: 13px;
    color:#858585;
}
.pais span{
   color: #858585;
   margin-left: 30px;
   font-size: 15px;

}